*{margin:0px}
.cart-item {
    display: inline-flex;
    margin: 20px 10px;
    border: 1px solid black;
    padding: 5px;
  }
  .cart-item .right-block {
    padding: 0 20px;
  }
  
  .cart {
    display: flex;
    flex-direction: column;
  }